body{
    font-family: "Hero Main", "Hero secondary";
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.header{
    background-color: #1F2937;
    color: azure;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.links{
    display: flex;
    color: azure;

}
a:link, a:visited,  a:hover, a:active {
    color: #E5E7EB;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
  }

  /* will be using comments to break css up into parts */
  .intro{
    background-color: #1F2937;
    color: azure;
    padding: 32px;
    display: flex;
    flex-direction: row;
  }

  .text{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  button{ 
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 5px;
  }

  .img{
    display: flex;
    flex-grow: 1;
  }


  /*  */

  .main{
    background-color: antiquewhite;
    color:#1F2937;
  }

  .third{
    background-color: #E5E7EB;
  }

  .last{
    background-color: antiquewhite;
  }

.footer{
    background-color: #1F2937;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;

}